


<div class="flex justify-center">
  <div class="w-[70%] h-fit mt-12  flex flex-col gap-3
">

    <div class="dark:bg-[#181818] border-[1px] border-neutral-700 bg-neutral-100 px-5 py-3 rounded">
      <h2>Note title</h2>
      <span>10/12/2001</span>
    </div>

    <div class="dark:bg-[#181818]  border-[1px] border-neutral-700 px-5 py-3  rounded">
      <h2>Note title</h2>
      <span>10/12/2001</span>
    </div>

    <div class="dark:bg-[#181818]  border-[1px] border-neutral-700 px-5 py-3  rounded">
      <h2>Note title</h2>
      <span>10/12/2001</span>
    </div>


  </div>

</div>
