<div class="dark:bg-[#222] p-3">
  <h1 class="text-xl">Note list</h1>
</div>


<div class="flex justify-center">
  <div class="w-[50%] p-8 h-fit rounded-xl mt-12 shadow-lg bg-white dark:bg-neutral-900 flex flex-col gap-3
">

    <div class="dark:bg-neutral-800 bg-neutral-100 px-5 py-3 rounded">
      <h2>Note title</h2>
      <span>10/12/2001</span>
    </div>

    <div class="dark:bg-neutral-800 px-5 py-3  rounded">
      <h2>Note title</h2>
      <span>10/12/2001</span>
    </div>

    <div class="dark:bg-neutral-800 px-5 py-3  rounded">
      <h2>Note title</h2>
      <span>10/12/2001</span>
    </div>


  </div>

</div>
