
<div class="h-screen flex flex-col p-3">
  <p-drawer [(visible)]="sidebarVisible" header="Menu" styleClass="!w-full md:!w-80 lg:!w-[30rem]">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat.
    </p>
  </p-drawer>

  <p-menubar [model]="items" styleClass="!rounded-none "/>

  <div class="overflow-hidden h-full mt-3">

    <p-splitter [panelSizes]="[50, 50]" styleClass="max-h-full h-full">
      <ng-template #panel>
        <div class="flex items-center justify-center w-full px-1 py-4">
          <ngx-monaco-editor
            class="!h-full !w-full"
            [options]="editorOptions"
            [(ngModel)]="noteMarkdown">
          </ngx-monaco-editor>
        </div>

      </ng-template>
      <ng-template #panel class="">

        <div class="overflow-y-auto w-full p-7">
          <div markdown [data]="noteMarkdown" class="markdown-body">

          </div>
        </div>

      </ng-template>
    </p-splitter>

    </div>

</div>


<!--
<ngx-monaco-editor
                class="!h-full !w-full"
                [options]="editorOptions"
                [(ngModel)]="noteMarkdown">
              </ngx-monaco-editor>


              <div class="overflow-y-auto w-full p-5">
                <div markdown [data]="noteMarkdown" class="markdown-body">

                </div>
              </div>
-->



