
<div class="h-screen w-16 group hover:w-52 transition-[width] duration-300 ease py-5 px-3  bg-neutral-200 dark:bg-neutral-900 cursor-pointer group
relative">

  <i class="fas fa-chevron-right absolute top-3 right-7 group-hover:rotate-180 transition-transform ease duration-300"></i>

  <div class="opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out dark:text-neutral-400 text-neutral-800
      w-44 overflow-hidden text-nowrap pointer-events-none group-hover:pointer-events-auto">

    <h1 class=" text-neutral-700 text-xl">Notes</h1>
    <div class="flex flex-col p-2">
      <sidebar-item icon="📝" title="Class notes"></sidebar-item>
      <sidebar-item icon="🗒️" title="To-do list"></sidebar-item>
      <sidebar-item icon="🧾" title="Electricity bill"></sidebar-item>
      <sidebar-item icon="📰" title="Today's news"></sidebar-item>
      <sidebar-item icon="🧠" title="Random ideas"></sidebar-item>
      <sidebar-item icon="📌" title="Important stuff"></sidebar-item>
      <sidebar-item icon="📍" title="Places to visit"></sidebar-item>
      <sidebar-item icon="🔖" title="Books to read"></sidebar-item>
      <sidebar-item icon="✏️" title="To edit"></sidebar-item>
      <sidebar-item icon="🗂️" title="Useful documents"></sidebar-item>
      <sidebar-item icon="📓" title="Personal journal"></sidebar-item>
      <sidebar-item icon="📋" title="Shopping list"></sidebar-item>
    </div>

    <h1 class=" text-neutral-700 text-xl mt-5">Actions</h1>
    <div class="flex flex-col gap-2 p-2">
      <sidebar-item (click)="onChangeTheme()" icon="⚙️" title="Switch theme"></sidebar-item>
    </div>

  </div>




</div>
