

<div class="h-full px-5 py-2 flex justify-between items-center relative">

  @if (showIconPicker()) {
    <emoji-mart
      (emojiClick)="onChangeIcon($event)"
      class="absolute z-10 top-15 left-2"></emoji-mart>
  }

  <div class="dark:text-neutral-100">
    <div class="relative w-fit px-10">
      <input type="text"
             [value]="note()?.title"
             (change)="onChangeInput($event)"
             class="block outline-none text-xl border-b border-neutral-500 "/>
      <ngx-emoji
        [emoji]="icon()"
        (click)="controlIconPicker(true)"
        class="absolute right-2 top-[50%] bottom-0 -translate-y-1/2 left-0 w-[1em]" ></ngx-emoji>
    </div>
    <small class="text-xs ps-10 text-neutral-700 dark:text-neutral-400">{{note()?.date | date}}</small>
  </div>

  <button class="px-2 py-1 cursor-pointer hover:bg-neutral-200 dark:hover:bg-neutral-800 rounded"
          (click)="save()"
  >
    <i class="fas fa-save me-2"></i><span class="text-sm">Save</span>
  </button>

</div>
