/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.markdown-theme-light .markdown-body {

}

.markdown-theme-dark .markdown-body {

}
