/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";

:root {
  --navbar-color: #ffffff;
  --navbar-hover-color: #f6f6f6;
  --background-color: #ffffff;
  --text-color: #000000;
}

.app-dark {
  --navbar-color: #070710;
  --navbar-hover-color: #0d0d18;
  --background-color: #1c1c1c;
  --text-color: #ffffff;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.app-dark .note {
  background-color: #232325;
  border-color: #1f2328;

  .date {
    color: #838383;
  }
}




