/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }
}

body {
  background-color: white !important;
  color: black !important;
}

.app-dark body {
  background-color: #121212 !important;
  color: white !important;
}

.app-dark .note {
  background-color: #232325;
  border-color: #1f2328;

  .date {
    color: #838383;
  }

}




