<div class="flex text-xl text-gray-600">
  <div class="flex gap-5 border border-gray-200 p-3">
    <i (click)="onBoldClick()" class="fas fa-bold"></i>
    <i class="fas fa-italic"></i>
    <i class="fas fa-underline"></i>
  </div>
  <div class="flex gap-5 border border-gray-200 p-3">
    <i class="fas fa-align-left"></i>
    <i class="fas fa-align-center"></i>
    <i class="fas fa-align-justify"></i>
    <i class="fas fa-align-right"></i>
  </div>
  <div class="flex gap-5 border border-gray-200 p-3">
    <i class="fas fa-indent"></i>
    <i class="fas fa-outdent"></i>
    <i class="fas fa-list"></i>
    <i class="fas fa-list-ol"></i>
  </div>

</div>
